PORT=3001

# MongoDB Atlas connection string
MONGO_URI=mongodb+srv://<usuario>:<senha>@cluster.mongodb.net/titans-volei

# URL do frontend (Vercel) - usado no CORS
# Em producao: https://titans-volei.vercel.app
CLIENT_URL=http://localhost:5174

# Cloudinary - https://cloudinary.com/console
CLOUDINARY_CLOUD_NAME=seu_cloud_name
CLOUDINARY_API_KEY=sua_api_key
CLOUDINARY_API_SECRET=seu_api_secret
